*{

box-sizing:border-box;

font-family:Arial,sans-serif;

}



body{

margin:0;

background:#031d3a;

color:white;

}




/* HEADER */

header{

height:90px;

background:#052b55;

border-bottom:3px solid #d9ad00;

display:flex;

justify-content:center;

align-items:center;

}



.header-brand{

display:flex;

align-items:center;

gap:20px;

}



.header-brand img{

width:65px;

height:65px;

background:white;

border-radius:10px;

}



.header-brand h1{

margin:0;

font-size:34px;

color:#ffd000;

}



.header-brand p{

margin:5px;

font-size:13px;

}







/* MAIN */


.dashboard{

display:grid;

grid-template-columns:280px 1fr;

gap:25px;

padding:25px;

}




/* LEFT */


.sidebar{

background:#06284d;

padding:20px;

border-radius:15px;

}



.sidebar h2{

color:#ffd000;

}



.info{

background:#124274;

padding:18px;

margin-bottom:12px;

border-radius:12px;

font-size:15px;

}



.info span{

font-size:30px;

font-weight:bold;

}





button{

width:100%;

padding:15px;

margin-top:12px;

border:0;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}



.btn-start{

background:#087cff;

color:white;

}



.btn-reset{

background:#d62828;

color:white;

}







/* WINNER */


.winner-box{

background:white;

color:#052b55;

border-radius:25px;

min-height:420px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

box-shadow:

0 0 30px rgba(255,215,0,.5);

}



.winner-box h2{

font-size:40px;

color:#d9ad00;

}



.winner-box p{

font-size:18px;

}




#winner{

font-size:50px;

font-weight:bold;

margin:40px;

}





#hadiah{

background:#e8b900;

padding:15px 50px;

border-radius:10px;

font-size:24px;

font-weight:bold;

}







/* TABLE */


.table-box{

margin:0 25px 25px;

background:white;

color:#052b55;

padding:20px;

border-radius:20px;

}



.table-box h2{

margin-top:0;

}



table{

width:100%;

border-collapse:collapse;

}



th{

background:#052b55;

color:white;

padding:15px;

}



td{

padding:12px;

text-align:center;

border-bottom:1px solid #ddd;

}





@media(max-width:900px){

.dashboard{

grid-template-columns:1fr;

}


#winner{

font-size:35px;

}

}
