/* =====================================
 PKPJ CABUTAN BERTUAH
 INDEX PAGE FINAL
===================================== */


*{

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}



body{

margin:0;

background:#031d3a;

color:white;

}




/* HEADER */

header{


height:90px;


background:#052b55;


border-bottom:3px solid #d9ad00;


display:flex;


align-items:center;


justify-content:center;


}



.brand{


display:flex;


align-items:center;


gap:20px;


}



.brand img{


width:65px;


height:65px;


background:white;


border-radius:10px;


object-fit:contain;


}



.brand h1{


margin:0;


color:#ffd000;


font-size:32px;


}



.brand p{


margin:5px 0;


font-size:13px;


}






/* MAIN LAYOUT */


.dashboard{


display:grid;


grid-template-columns:260px 1fr;


gap:20px;


padding:20px;


}





/* LEFT PANEL */


.sidebar{


background:#06284d;


border-radius:15px;


padding:20px;


}



.sidebar h2{


color:#ffd000;


font-size:20px;


}



.info-box{


background:#124274;


padding:15px;


margin:12px 0;


border-radius:12px;


}



.info-box span{


font-size:28px;


font-weight:bold;


}





.start-btn{


width:100%;


padding:15px;


background:#087cff;


color:white;


}



.reset-btn{


width:100%;


padding:15px;


margin-top:10px;


background:#d62828;


color:white;


}






/* WINNER AREA */


.main-panel{


background:white;


color:#052b55;


border-radius:25px;


padding:40px;


min-height:400px;


text-align:center;


box-shadow:

0 0 30px rgba(255,215,0,.5);


}




.main-panel h2{


color:#d9ad00;


font-size:38px;


}



.sub-title{


font-size:18px;


}




#winner{


font-size:50px;


font-weight:bold;


margin:50px 0;


}





#hadiah{


background:#e8b900;


padding:15px;


border-radius:12px;


font-size:24px;


font-weight:bold;


}






/* TABLE PEMENANG */


.winner-table{


background:white;


color:#052b55;


margin:20px;


padding:20px;


border-radius:20px;


}




table{


width:100%;


border-collapse:collapse;


}



th{


background:#052b55;


color:white;


padding:15px;


}



td{


padding:12px;


text-align:center;


border-bottom:1px solid #ddd;


}






/* MOBILE */


@media(max-width:900px){


.dashboard{


grid-template-columns:1fr;


}



#winner{


font-size:35px;


}


}
