body{

margin:0;

background:#031d3a;

font-family:Arial, sans-serif;

}



.poster{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.card{


background:white;


width:600px;


padding:40px;


border-radius:20px;


text-align:center;


box-shadow:

0 0 30px rgba(255,215,0,.5);


}



.logo{


width:120px;


height:120px;


object-fit:contain;


}



h1{


font-size:24px;


color:#052b55;


margin:20px 0 10px;


}



h2{


font-size:32px;


color:#d9ad00;


margin:10px;


}



.divider{


height:3px;


background:#d9ad00;


margin:25px 0;


}



h3{


font-size:26px;


color:#052b55;


}



#qrcode{


display:flex;


justify-content:center;


margin:30px;


}



#qrcode img{


border:10px solid white;


}



h4{


font-size:22px;


color:#052b55;


}



p{


font-size:18px;


color:#555;


}





@media print{


body{


background:white;


}


.card{


box-shadow:none;


}


}
