*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#001b3a;
    color:white;
}


/* HEADER */

header{

height:120px;
display:flex;
align-items:center;
justify-content:center;
border-bottom:2px solid gold;
position:relative;

}


.brand{

display:flex;
align-items:center;
gap:25px;

}


.brand img{

width:90px;
height:90px;
object-fit:contain;

}


.brand h1{

margin:0;
font-size:45px;
color:#ffd700;

}


.brand p{

margin:5px;
font-size:16px;

}





.fullscreen{

position:absolute;
right:30px;

width:55px;
height:55px;

border-radius:50%;

background:#087cff;
color:white;

border:none;

font-size:25px;

}





/* MAIN */

.container{

display:grid;

grid-template-columns:320px 1fr;

gap:30px;

width:95%;

margin:30px auto;

}



/* LEFT */

.left{

background:#06294f;

padding:25px;

border-radius:20px;

}



.left h2{

color:#ffd700;

}


.info{

display:flex;

align-items:center;

gap:20px;

background:#123e70;

padding:20px;

margin:15px 0;

border-radius:15px;

font-size:30px;

}



.info label{

font-size:12px;

display:block;

}



.info strong{

font-size:35px;

display:block;

}



button{

cursor:pointer;

border:none;

font-size:20px;

font-weight:bold;

padding:18px;

border-radius:12px;

}


.start{

width:100%;

background:#087cff;

color:white;

margin-top:15px;

}



.reset{

width:100%;

background:#d52d2d;

color:white;

margin-top:15px;

}





/* WINNER */


.winner{

background:white;

color:#002957;

border-radius:30px;

min-height:450px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

box-shadow:0 0 40px gold;

}



.winner h2{

font-size:50px;

color:#dca800;

}


#winner{

font-size:55px;

font-weight:bold;

}



#countdown{

font-size:80px;

color:#dca800;

}



.prize{

background:#e8b900;

color:black;

font-size:30px;

padding:20px 80px;

border-radius:15px;

}






/* TABLE */

.table{

width:95%;

margin:30px auto;

background:white;

color:#002957;

padding:20px;

border-radius:20px;

}


table{

width:100%;

border-collapse:collapse;

}


th{

background:#002957;

color:white;

padding:15px;

}


td{

padding:15px;

text-align:center;

}
