/* =====================================
   PKPJ ATTENDANCE SYSTEM
   FULL CSS
===================================== */


*{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    margin:0;

    min-height:100vh;

    background:
    linear-gradient(
        135deg,
        #021b36,
        #063d73
    );

    color:white;

}



/* ==============================
HEADER
============================== */


header{

    background:#052b55;

    height:90px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-bottom:3px solid #d9ad00;

}



.brand{

    display:flex;

    align-items:center;

    gap:20px;

}



.brand img{

    width:65px;

    height:65px;

    object-fit:contain;

    background:white;

    border-radius:10px;

}



.brand h1{

    margin:0;

    color:#ffd000;

    font-size:32px;

    font-weight:800;

}



.brand p{

    margin:5px 0 0;

    font-size:14px;

}






/* ==============================
ATTENDANCE FORM
============================== */


.form-container{


    min-height:80vh;


    display:flex;


    justify-content:center;


    align-items:center;


}



.attendance-card{


    width:430px;


    background:white;


    color:#052b55;


    padding:40px;


    border-radius:25px;


    box-shadow:

    0 0 30px rgba(255,215,0,0.5);


    text-align:center;


}




.attendance-card h2{


    color:#d9ad00;


    font-size:30px;


    margin-bottom:10px;


}




.attendance-card p{


    color:#555;


    font-size:16px;


}




.attendance-card label{


    display:block;


    text-align:left;


    margin-top:20px;


    font-weight:bold;


}




.attendance-card input{


    width:100%;


    padding:15px;


    margin-top:8px;


    border-radius:10px;


    border:1px solid #ccc;


    font-size:16px;


}





.attendance-card input:focus{


    outline:none;


    border:2px solid #d9ad00;


}







.attendance-card button{


    width:100%;


    margin-top:30px;


    padding:16px;


    border:none;


    border-radius:12px;


    background:#d9ad00;


    color:#052b55;


    font-size:17px;


    font-weight:bold;


    cursor:pointer;


}




.attendance-card button:hover{


    background:#ffd900;


}







/* ==============================
SUCCESS MESSAGE
============================== */


.success-icon{


    font-size:60px;


}



.success-title{


    color:#008000;


    font-size:28px;


    font-weight:bold;


}



.success-text{


    color:#052b55;


    font-size:20px;


}





/* ==============================
MOBILE
============================== */


@media(max-width:600px){



.brand h1{

    font-size:22px;

}


.brand img{

    width:50px;

    height:50px;

}



.attendance-card{

    width:90%;

    padding:30px;

}



}
